.link-edge {
    fill: none;
    stroke: black;
    stroke-width: 3;
}

.linearized-edge {
    fill: none;
    stroke: red;
    stroke-width: 2;
}

.linearized-arrow {
    stroke: red;
    stroke-width: 2;
}

.class-node-circle {
    stroke: black;
    fill: white;
};


text {
    font: 12px sans-serif;
}

text.node-text {
    text-anchor: middle;
    font-weight: bold;
}
