.link-edge {
    fill: none;
    stroke: #777;
    stroke-width: 3;
}

.linearized-edge {
    fill: none;
    stroke: red;
    stroke-width: 3;
    opacity: .7
}

.linearized-arrow {
    stroke: red;
}

.class-node-circle {
    stroke: black;
    fill: white;
}

.node-selected {
    stroke: red;
    stroke-width: 2;
    opacity: .7;
}

text {
    font: 12px monospace;
}

text.node-text {
    text-anchor: middle;
    font-weight: bold;
}

text.shadow {
    stroke: white;
    stroke-width: 3px;
    stroke-opacity: .8;
}
